:root{
    --font-text-1:'Fraunces', serif;
    --font-text-2:'Montserrat', sans-serif;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}
body {
    background-color: var(--cream);
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 14px;
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin: 30px auto;
    padding: 0 30px;
}

section {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

}
.img img {
    max-width: 100%;
    display: inherit;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--dark-grayish-blue);
    margin-left: 10px;
}
h1{
    font-size: 38px;
    line-height: 30px;
    color: var(--very-dark-blue);
    padding-bottom: 25px;
}
.text-primero{
    font-family: var(--font-text-2);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: var(--dark-grayish-blue);
}
.text-segundo{
    font-family: var(--font-text-2);
    color: var(--dark-grayish-blue) ;
    line-height: 20px;
}
.precios {
    display: flex;
    align-items: center;
}
.precio{
    font-family: var(--font-text-1);
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--dark-cyan);
    font-weight: 900;
}
.precio-reducido{
    text-indent: 5px;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: var(--font-text-2);
    text-decoration: line-through;
}
button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 14px 0;
    border-radius: 12px;
    font-family: var(--font-text-2);
    font-weight: bold;
    font-size: 14px;
    background-color: var(--dark-cyan);
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: var(--very-dark-blue);
}
@media only screen and (max-width:628px) {
    
    section {
        grid-template-columns: 1fr ;
    }

    .img img {
        max-height: 450px;
        width: 100%;
        object-fit: cover
    }

    .text {
        display: block;
    }

    button,.text-primero,h1,.text-segundo,.precios {
        padding-top: 30px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 375px) {
    main{
        margin: 15px auto;
        padding: 0 15px;
    }
    .img img{
        max-height: 290px;
    }
    .text{
        padding: 24px;
    }
    .text-primero,h1,.text-segundo,.precios{
        padding-bottom: 16px;
    }
    h1{
        font-size: 28px;
    }
    .text-segundo{
        font-size: 12px;
    }
    .precio-reducido{
        font-size: 23px;
    }
    button{
        padding: 12px 0;
        font-size: 13px;
    } 
}